wget
appdirs
tempdir
multipledispatch
numpy
tqdm
termcolor
fire
rich
openai
tree_sitter>=0.22.0
tree-sitter-python
datasets
psutil
click

polars~=1.25
great_tables==0.17.0
marimo==0.13.9
seaborn==0.13.2
altair==5.5.0
vl-convert-python==1.7.0